.idea
.vscode
.tox
.mypy_cache

chipiron/.idea
chipiron/.ipynb_checkpoints
__pycache__

build/*

data/syzygy-tables/
data/gui/*
data/datasets/*
data/players/board_evaluators/nn*

dist/

external_data/*
!external_data/.gitkeep

docs/_build/

stockfish/*
.coverage

mlruns/

chipiron/scripts/league/league_data/*
chipiron/scripts/*/outputs/*
chipiron/scripts/*/test_outputs/*

chipiron/runs/*
*.egg-info/
chipiron/scripts/one_match/outputs/*
chipiron/scripts/learn_nn_supervised/learn_nn_supervised_outputs/*
chipiron/scripts/learn_from_scratch_value_and_fixed_boards/learn_from_scratch_outputs/*

**/*training_copies/*
**/*optimizer.pi*
**/*scheduler.pi*
**/*.pt_save*
**/*.pi_save*

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb# Local environment configuration
.env.local
chipiron/scripts/profiling/benchmark_reports/*
