###### Requirements without Version Specifiers ######
PyYAML


###### Requirements with Version Specifiers ######
PyQt5>=5.11.2
chess >= 1.10.0
matplotlib>=3.8.2
sortedcollections>=2.1.0
pandas>=2.1.4
numpy>=1.26.0
#torch>=2.1.2
bidict>=0.22.1
numba>=0.59.0rc1
graphviz>=0.20.1
gdown >= 4.7.1
dacite >= 1.8.1
